.App .pagination-view {
  margin: 0 auto;
  max-width: 205px;
}

.pagination-view ul .ant-pagination-item-active {
  background-color: #1890ff;
}

.pagination-view ul .ant-pagination-item-active a {
  color: white;
}
