@media screen and (min-width: 1415px) {
  .list-movie .movie-items .movie-info {
    width: 46%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1414px) {
  .list-movie .movie-items .movie-info {
    width: 46%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .list-movie .movie-items .movie-info {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 991px) {
  .list-movie .movie-items .movie-info {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .list-movie .movie-items .movie-info {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 575px) {
  .list-movie .movie-items .movie-info {
    width: 100%;
    margin-bottom: 30px;
  }
}
