.wrapper-list-of-movie .list-movie {
  min-height: 800px;
}

.list-movie .wrapper-list-movie {
  min-height: 750px;
}

/**/

.list-movie .movie-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*border: 1px solid red;*/
}

.list-movie .movie-items .movie-info {
  /*width: 454px;*/
  display: flex;
  margin-bottom: 37px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.movie-info .movie-description {
  width: 228px;
  margin: 12px 20px 0 20px;
}

.movie-info .movie-description .movie-description-element {
  margin-bottom: 10px;
  /*border: 1px solid red;*/
}

.movie-info .movie-description p {
  color: gray;
}

.movie-info .movie-description .tags {
  display: flex;
}

/**/

.list-movie .pagination-view {
  margin: 0 auto;
}

.list-movie .pagination-view .ant-pagination {
  text-align: center;
  min-width: 205px;
}

.pagination-view ul .ant-pagination-item-active {
  background-color: #1890ff;
}

.pagination-view ul .ant-pagination-item-active a {
  color: white;
}
