@media screen and (min-width: 1200px) {
  .App,
  .App .view-wrapper {
    width: 1010px;
    margin: 0 auto;
  }
}

/*1440 - 1010 - ширина белой обл, ширина карточки фильма - 454*/

@media screen and (max-width: 1199px) {
  .App,
  .App .view-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .App,
  .App .view-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .App,
  .App .view-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 575px) {
  .App {
    width: 100%;
  }
  .App .view-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}
